* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: monospace;
}
.column {
  float: left;
  width: 25%;
  padding: 15px;
  margin-top: 4%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.inputs {
  float: left;
}

.winput {
  display: flex;
}

.hinput {
  display: flex;
}

.si {
  font-size: 0.7rem;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 8px;
}

p {
  font-size: 1.2rem;
}

.results {
  display: flex;
  margin-top: 4%;
}

button {
  background-color: #e2d5e6;
  background-image: linear-gradient(315deg, #e2d5e6 0%, #e1d4e6 74%);
  border: none;
  color: white;
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1.1%;
  margin-left: 6%;
}

#c1 {
  background-color: #9eabe4;
  background-image: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
  font-size: 1.6rem;
}

#c2 {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
  font-size: 1.6rem;
}

#c3 {
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  font-size: 1.6rem;
}

#c4 {
  background-color: #d8dede;
  background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
  font-size: 1.6rem;
}
